<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>
      Sessions List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  @if(sessions.length > 0){
    <ion-list lines="none">
      @for(s of sessions; track s){
        <ion-item button detail="true" (click)="openSession(s.id)" class="session-item">
          <ion-icon name="fitness" slot="start" class="session-icon"></ion-icon>
          <ion-label>
            <h2>{{ s.name }}</h2> 
            <p>Date: {{ s.date | date:'medium'  }}</p>
          </ion-label>
          <ion-badge color="success">{{ s.totalReps }} reps</ion-badge>
        </ion-item>  
      }
    </ion-list>
  }@else {
    <div class="empty-container">
      <ion-icon name="barbell" class="empty-icon"></ion-icon>
      <p>No sessions logged yet.</p>
    </div>
  }
    
    
  
  

</ion-content>
