<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>
      Start Session 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="form-card">
    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="dumb" class="input-icon"></ion-icon>
      <ion-label position="floating">Exercise Name</ion-label>
      <ion-input type="text" name="exerciseName" [(ngModel)]="exerciseName"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="calendar" class="input-icon"></ion-icon>
      <ion-label>Date</ion-label>

      <ion-datetime-button datetime="exDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="exDate"
            presentation="date"
            [value]="date"
            (ionChange)="onDateChange($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-row class="ion-margin">
        <ion-col>
          <ion-button color="secondary" size="large" class="start-btn" expand="block" (click)="start()" [disabled]="!exerciseName">Start Session</ion-button> 
        </ion-col>
    </ion-row>
  </div>
 

</ion-content>
