
.chart-container {
  height: 350px;
  margin-top: 20px;
}


.chart {
  height: 350px;
  margin-top: 20px;
}

.graph-card {
  background: #ffffffcc;
  padding: 12px;
  border-radius: 18px;
  margin-bottom: 20px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}



