.session-info {
  margin-bottom: 20px;

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 6px;
  }

  p {
    margin: 3px 0;
    color: var(--ion-color-medium);
  }
}
 

.graph-card {
  background: #ffffffcc;
  padding: 12px;
  border-radius: 18px;
  margin-top: .5em;
  margin-bottom: 20px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}






