<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ session?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  @if (session) {
    <div class="session-info">
      <h2>{{ session.name }}</h2>
      <p>Date: {{ session.date | date:'medium' }}</p>
      <p>Total Reps: <strong>{{ session.totalReps }}</strong></p>
    </div>

    <ion-list>
      <ion-list-header>Sets</ion-list-header>
 
      @for (set of sets; track $index) {
        <ion-item>
          <ion-label>Set {{ $index + 1 }}</ion-label>
          <ion-badge slot="end" color="secondary">{{ set.reps }} reps</ion-badge>
        </ion-item>
      }
    </ion-list>

    <echarts [initOpts]="initOpts" [options]="chartOptionsDay"></echarts>

    <ion-button expand="block" color="danger" (click)="confirmDelete()">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      Delete Session
    </ion-button>
  }

</ion-content>
